#aboutLandingPhoto{
    width: 50%;
    border-radius: 3%;
    border: 5px solid maroon;
}

.aboutPics {
    width: 65%;
    border-radius: 3%;
    border: 5px solid maroon;
}


@media (max-width: 765px){

    #aboutLandingPhoto{
        width: 90%;
        border-radius: 3%;
        border: 5px solid maroon;
    }

    #secondRow, #fourthRow, #sixthRow{
        display: flex;
        flex-direction: column-reverse;
    }

    #para2, #para1, #para3, #para4, #para5, #para6{
        text-align: center;
        padding: 5% 5%;
    }

    #img1, #img3, #img5{
        padding-left: 10%;
    }

    #img2, #img4, #img6{
        padding-right: 10%;
    }

    .aboutPics{
        width: 90%;
    }






}