#footer-container{
    background-color: #f9e4bc;
    height: 30%;
    box-shadow: 0px -4px 5px black;
    padding-bottom: 25px;
}

#footer-logo{
    width: 175px;
    position: relative;
    top: 30%;
}

#phoneNumber{
    text-decoration: none;
    color: black;
}

#admin-login{
    color: black;
    text-decoration: none;
}